
@{
    ViewBag.Title = "Index";
}

<h2>Categoria Curso <span id="spnEstado"></span></h2>

<fieldset class="mb-3">
    <legend>Información de Categoria Curso</legend>
    <div class="mb-3">
        <label for="txtIdCurso" class="form-label">Ingrese Id Categoria Curso</label>
        <input readonly disabled class="form-control" type="text" id="txtIdCategoriaCurso">
    </div>
    <div class="mb-3">
        <label for="txtNombreCategoria" class="form-label">Ingrese Nombre Categoria Curso</label>
        <input class="form-control" type="text" id="txtNombreCategoria"
            placeholder="Ingrese Nombre Categoria Curso">
    </div>
    <div class="mb-3">
        <button class="btn btn-success" onclick="GuardarDatos()">Guardar</button>
        <button class="btn btn-danger" onclick="Limpiar()">Limpiar</button>
        @*<button class="btn btn-danger" onclick="MyError()">Error</button>
        <button class="btn btn-danger" onclick="Exito()">Exito</button>
        <button class="btn btn-danger" onclick="Confirmacion()">Confirmacion</button>*@
    </div>
</fieldset>

<div id="divTabla">

</div>
<script src="~/js/generic.js"></script>
<script src="~/js/categoriacurso.js"></script>