
@{
    ViewBag.Title = "Index";
}

<h2>Categoria Curso</h2>

<fieldset class="mb-3">
    <legend>Información de Categoria Curso</legend>
    <div class="mb-3">
        <label for="txtIdCurso" class="form-label">Ingrese Id Categoria Curso</label>
        <input readonly disabled class="form-control" type="text" id="txtIdCurso">
    </div>
    <div class="mb-3">
        <label for="txtNombreCategoria" class="form-label">Ingrese Nombre Categoria Curso</label>
        <input class="form-control" type="text" id="txtNombreCategoria"
            placeholder="Ingrese Nombre Categoria Curso">
    </div>
    <div class="mb-3">
        <button class="btn btn-success">Guardar</button>
        <button class="btn btn-danger">Limpiar</button>
    </div>
</fieldset>

<div id="divTabla">

</div>
<script src="~/js/generic.js"></script>
<script src="~/js/categoriacurso.js"></script>