
@{
    ViewBag.Title = "Index";
}

<h2>Listado Cursos <span id="spnEstado"></span></h2>

@Html.ActionLink("Nuevo", "Agregar", "Curso", new { area = "" }, new { @class = "btn btn-success" })

<div id="divTabla">

</div>
<script src="~/js/generic.js"></script>
<script src="~/js/curso.js"></script>